<html >

{% include base_path %}


<head>
  <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ base_path }}/assets/css/parliament_style.css">

<!--
    <link rel="stylesheet" type="text/css" href="/static/commons/css/bootstrap.min.css">
    <script src="/static/commons/js/jquery.min.js"></script>
-->
<!--    <script src="/static/commons/js/bootstrap.min.js"></script>--> 
    <!-- load the d3.js library --> 
  
</head>
<body>

<div id="buttoms">
  <select id="inds">
    <option value="Seats" selected="selected">Seats</option>
    <option value="Proportional">Proportional</option>
    <option value="Shapley">Shapley</option>
    <option value="Banzhaf">Banzhaf</option>

    <option value="Winnable-Auto-Ideologia">Winnable-Auto-Ideologia</option>
    <option value="Worsable-Auto-Ideologia">Worsable-Auto-Ideologia</option>
    <option value="Winnable-Ideologia">Winnable-Ideologia</option>
    <option value="Worsable-Ideologia">Worsable-Ideologia</option>
    <option value="Winnable-Auto-Nacionalismo">Winnable-Auto-Nacionalismo</option>
    <option value="Worsable-Auto-Nacionalismo">Worsable-Auto-Nacionalismo</option>
    <option value="Winnable-Nacionalismo">Winnable-Nacionalismo</option>
    <option value="Worsable-Nacionalismo">Worsable-Nacionalismo</option>
    <option value="Winnable-Independentismo">Winnable-Independentismo</option>
    <option value="Worsable-Independentismo">Worsable-Independentismo</option>

  </select>
</div>


<div id="graph" class="svg-container" style="width: 960;">


<script type="text/javascript">

var svg = d3.select("#graph")
    .append("svg")
    .append("g");

svg.append("g")
    .attr("class", "slices");
svg.append("g")
    .attr("class", "labels");
svg.append("g")
    .attr("class", "lines");

svg.append("text")
    .attr("id", "titleMeasure");

svg.append("g")
    .attr("class", "legend")
    .attr("id", "LegendParties");

svg.append("line")
    .attr("id", "DashedHalfSeparator");

svg.append('text')
    .attr("id", "InnerCircleDetails");

svg.append("text")
    .attr("id", "HalfIndicator");

var width = $("#d3div").width(),
    height = width/9.6,
    radius = width/4.0;

/*
var width = 960,
    height = 100,
    radius = 225;
//    radius = Math.min(width,height) / 2;
*/

svg.attr("transform", "translate(" + 2*width / 5.0 + "," + 3.0*height  + ")");

/* ------ TOOLTIP formating ------ */

var tooltip = svg.append("g")
  .attr("class", "tooltip")
  .style("display", "none");
    
tooltip.append("rect")
  .attr("width", width/9.0)
  .attr("height", height/6.0)
  .attr("fill", "white")
  .style("opacity", 0.5);

tooltip.append("text")
  .attr("x", 15)
  .attr("dy", "1.2em")
  .style("text-anchor", "left")
  .attr("font-size", "12px")
  .attr("font-weight", "bold");

/*
var key = function(d){ return d.data.label; };

var color = d3.scale.category20()
    .domain(["JxSi", "C's", "PSC", "CSQP", "PPC", "CUP"])
    .range(["#34cbcb", "#ff8000", "#e60000", "#e60073", "#3333ff", "#ffff00"]);


function readData (){
    var labels = color.domain();
    return labels.map(function(label){
        return { label: label, value: seats[label] }
    }).filter(function(d){
        return d.value > 0;
    }).sort(function(a, b){
        return d3.descending(a.value, b.value);
    });
}

change(readData());
*/



</script>
</div>
</body>
