
<html>
<head>
  <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ base_path }}/assets/css/parliament_style.css">

<!--
    <link rel="stylesheet" type="text/css" href="/static/commons/css/bootstrap.min.css">
    <script src="/static/commons/js/jquery.min.js"></script>
-->
<!--    <script src="/static/commons/js/bootstrap.min.js"></script>--> 
    <!-- load the d3.js library --> 
  
</head>

<body>
{% include base_path %}


<div id="buttoms">
  <select id="inds">
    <option value="Seats" selected="selected">Seats</option>
    <option value="Proportional">Proportional</option>
    <option value="Shapley">Shapley</option>
    <option value="Banzhaf">Banzhaf</option>

    <option value="Winnable-Auto-Ideologia">Winnable-Auto-Ideologia</option>
    <option value="Worsable-Auto-Ideologia">Worsable-Auto-Ideologia</option>
    <option value="Winnable-Ideologia">Winnable-Ideologia</option>
    <option value="Worsable-Ideologia">Worsable-Ideologia</option>
    <option value="Winnable-Auto-Nacionalismo">Winnable-Auto-Nacionalismo</option>
    <option value="Worsable-Auto-Nacionalismo">Worsable-Auto-Nacionalismo</option>
    <option value="Winnable-Nacionalismo">Winnable-Nacionalismo</option>
    <option value="Worsable-Nacionalismo">Worsable-Nacionalismo</option>
    <option value="Winnable-Independentismo">Winnable-Independentismo</option>
    <option value="Worsable-Independentismo">Worsable-Independentismo</option>

  </select>
</div>

<div id="catalan_parliament_div" style="width: 100%;"></div>
<script type="text/javascript">

var svg = d3.select("#catalan_parliament_div")
    .append("svg")
    .append("g");

svg.append("g")
    .attr("class", "slices");
svg.append("g")
    .attr("class", "labels");
svg.append("g")
    .attr("class", "lines");
svg.append("text")
    .attr("id", "titleMeasure");
svg.append("g")
    .attr("class", "legend")
    .attr("id", "LegendParties");
svg.append("line")
    .attr("id", "DashedHalfSeparator");
svg.append('text')
    .attr("id", "InnerCircleDetails");
svg.append("text")
    .attr("id", "HalfIndicator");

var width = $("#catalan_parliament_div").width(),
    height = width/3.0,
    radius = width/4.0;

document.getElementById('catalan_parliament_div').setAttribute("style", "height:"+height+"px");

/*
var width = 960,
    height = 800,
    radius = 225;
*/

//    radius = Math.min(width,height) / 2;

svg.attr("transform", "translate(" + 2*width / 5.0 + "," + height  + ")");
//svg.attr("transform", "translate(" + 2*width / 5.0 + "," + 3.0*height  + ")");

/* ------ TOOLTIP formating ------ */
/*
var tooltip = svg.append("g")
  .attr("class", "tooltip")
  .style("display", "none");
    
tooltip.append("rect")
  .attr("width", width/9.0)
  .attr("height", height/6.0)
  .attr("fill", "white")
  .style("opacity", 0.5);

tooltip.append("text")
  .attr("x", 15)
  .attr("dy", "1.2em")
  .style("text-anchor", "left")
  .attr("font-size", "12px")
  .attr("font-weight", "bold");
*/
/*
var key = function(d){ return d.data.label; };

var color = d3.scale.category20()
    .domain(["JxSi", "C's", "PSC", "CSQP", "PPC", "CUP"])
    .range(["#34cbcb", "#ff8000", "#e60000", "#e60073", "#3333ff", "#ffff00"]);


function readData (){
    var labels = color.domain();
    return labels.map(function(label){
        return { label: label, value: seats[label] }
    }).filter(function(d){
        return d.value > 0;
    }).sort(function(a, b){
        return d3.descending(a.value, b.value);
    });
}

change(readData());
*/

svg.append("text")
    .attr("id", "titleMeasure")
    .html('<tspan x="'+ -width/3.5 +'" dy="'+ -1.2*radius +'" font-size="2vw" fill="green" style="fweight:bold">Prueba</tspan>')
    .style('font-size', '.9em')
    .style('color', 'green')
    .style('text-anchor', 'left');



/*
    // function that creates and adds the tool tip to a selected element
    function toolTip(selection) {
        var html_center_text = '<tspan x="0" dy="1.2em"> Parlament de Catalunya</tspan>';

        // add tooltip (svg circle element) when mouse enters label or slice
        selection.on('mouseenter', function () {
            svg.append('text')
                .attr('class', 'toolCircle')
                .attr('dy', -15) // hard-coded. can adjust this to adjust text vertical alignment in tooltip
                .html('<tspan x="0" dy="1.2em"> Parlament de Catalunya</tspan>') // add text to the circle.
                .style('font-size', '.9em')
                .style('text-anchor', 'middle'); // centres text in tooltip
            svg.append('circle')
                .attr('class', 'toolCircle')
                .attr('r', radius * 0.55) // radius of tooltip circle
                .style('fill', colour(data.data[category])) // colour based on category mouse is over
                .style('fill-opacity', 0.35);
        });
        // remove the tooltip when mouse leaves the slice/label
        selection.on('mouseout', function () {
            d3.selectAll('.toolCircle').remove();
        });
*/


/*
    slices
        .append("path")
        .attr("class", function(d) {
      return "slice" + color(d.data);
    })
    .attr("d", path)
    .on("mousemove", function(d) {
        var slicecolor = this;
        d3.select(this).style("opacity", 1);

        .on("mouseout", function(d) {
          d3.selectAll("path")
            .style({
              "opacity": 0.5
            });
        });
*/

/*
    slice = svg.select(".slices").selectAll("path.slice")
        .data(pie(data), key)
          .append("rect")
            .attr("width", 140)
            .attr("height", 140)
        .on("mouseover", function (d) {
        d3.select(".tooltip")
            .style("left", d3.event.pageX + "px")
            .style("top", d3.event.pageY + "px")
            .style("opacity", 0.9)
            .select("#value")
            .text("100");
    })
        .on("mouseout", function () {
        // Hide the tooltip
        d3.select(".tooltip")
            .style("opacity", 0);;
    });
*/
/*
    slice
        .exit().transition().delay(duration).duration(0)
        .remove();
*/
//https://stackoverflow.com/questions/34179006/d3-text-on-mouseover#34179633
//http://jsfiddle.net/5PENv/
//https://stackoverflow.com/questions/27668236/d3-pie-chart-arctween-in-mouseover-doesnt-work
//https://chartio.com/resources/tutorials/how-to-show-data-on-mouseover-in-d3js/

//    d3.selectAll('.labelName text, .slices path').call("#toolTip");
/*
    slices = svg.select(".slices").selectAll("path.slice")
        .on("mouseover", function (d) {
        d3.select("#tooltip")
            .style("left", d3.event.pageX + "px")
            .style("top", d3.event.pageY + "px")
            .style("opacity", 0.9)
            .select("#value")
            .text("100");
    })
        .on("mouseout", function () {
        // Hide the tooltip
        d3.select("#tooltip")
            .style("opacity", 0);;
    });
*/

/*
    slice
        .exit().transition().delay(duration).duration(0)
        .remove();
*/
//https://stackoverflow.com/questions/34179006/d3-text-on-mouseover#34179633
//http://jsfiddle.net/5PENv/
//https://stackoverflow.com/questions/27668236/d3-pie-chart-arctween-in-mouseover-doesnt-work
//https://chartio.com/resources/tutorials/how-to-show-data-on-mouseover-in-d3js/

//    d3.selectAll('.labelName text, .slices path').call("#toolTip");
/*
    slices = svg.select(".slices").selectAll("path.slice")
        .on("mouseover", function (d) {
        d3.select("#tooltip")
            .style("left", d3.event.pageX + "px")
            .style("top", d3.event.pageY + "px")
            .style("opacity", 0.9)
            .select("#value")
            .text("100");
    })
        .on("mouseout", function () {
        // Hide the tooltip
        d3.select("#tooltip")
            .style("opacity", 0);;
    });
*/
</script>
</body>
</html>
