{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://twitter.com/intent/tweet?text={{ base_path }}{{ page.url }}" class="btn btn--twitter" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_path }}{{ page.url }}" class="btn btn--facebook" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

  <a href="https://www.xing.com/spi/shares/new?url={{ base_path }}{{ page.url }}" class="btn btn--xing" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Xing"><i class="fa fa-fw fa-xing" aria-hidden="true"></i><span> Xing</span></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>

  <a href="https://telegram.me/share/url?url={{ base_path }}{{ page.url }}" class="btn btn--telegram" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Telegram"><i class="fa fa-fw fa-telegram" aria-hidden="true"></i><span> Telegram</span></a>

  <a href="https://api.whatsapp.com/send?text={{ base_path }}{{ page.url }}" class="btn btn--whatsapp" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Whatsapp"><i class="fa fa-fw fa-whatsapp" aria-hidden="true"></i><span> Whatsapp</span></a>
</section>
