
<html >

<head>
<style type="text/css">

#statemachines_graph_div
.node {
}

#statemachines_graph_div
.link {
  fill: none;
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1px;
}


circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}


text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}


</style>
</head>

<body>

{% include base_path %}


<div id="buttoms" class="div-inline">
  <select id="inds">
    <option value="Conversation" selected="selected">Conversation</option>
    <option value="Conversation.Hello">Conversation.Hello</option>
    <option value="Conversation.Query_Conversation">Conversation.Query_Conversation</option>
    <option value="Conversation.Final_Asker">Conversation.Final_Asker</option>
    <option value="Conversation.Say_goodbye">Conversation.Say_goodbye</option>
  </select>
</div>



<div id="statemachines_graph_div" class="svg-container" style="width: 100%;"></div>


<script type="text/javascript">
    var colors = d3.scaleOrdinal(d3.schemeCategory10);

    var width = $("#statemachines_graph_div").width(),
        height = width/2.0,
        graph_i,
        node,
        link;

    var svg = d3.select("#statemachines_graph_div").append("svg")
        .attr("width", width)
        .attr("height", height);

/*
    d3.select("svg").selectAll("*").remove();

    var svg = d3.select("svg")
        .attr("width", 1200)
        .attr("height", 600),
        width = +svg.attr("width"),
        height = +svg.attr("height"),
        graph_i,
        node,
        link;
*/

    svg.append('defs').append('marker')
        .attrs({'id':'arrowhead',
            'viewBox':'-0 -5 10 10',
            'refX':13,
            'refY':0,
            'orient':'auto',
            'markerWidth':13,
            'markerHeight':13,
            'xoverflow':'visible'})
        .append('svg:path')
        .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
        .attr('fill', '#999')
        .style('stroke','none');

    var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function (d) {return d.id;}).distance(100).strength(1))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

function prepareCanvas(){
    d3.select("#statemachines_graph_div.svg").selectAll("*").remove();


/*
    var svg = d3.select("svg")
        .attr("width", 1200)
        .attr("height", 600),
        width = +svg.attr("width"),
        height = +svg.attr("height"),
        graph_i,
        node,
        link;
*/

    var width = $("#statemachines_graph_div").width(),
        height = width/2.0,
        graph_i,
        node,
        link;

    var svg = d3.select("#statemachines_graph_div").append("svg")
        .attr("width", width)
        .attr("height", height);

    svg.append('defs').append('marker')
        .attrs({'id':'arrowhead',
            'viewBox':'-0 -5 10 10',
            'refX':13,
            'refY':0,
            'orient':'auto',
            'markerWidth':13,
            'markerHeight':13,
            'xoverflow':'visible'})
        .append('svg:path')
        .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
        .attr('fill', '#999')
        .style('stroke','none');

    var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function (d) {return d.id;}).distance(100).strength(1))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

}
prepareCanvas();




</script>

</body>

</html>
