
#buttoms {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#catalan_parliament_div {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px 5px 0 0;
  padding-top: 0px;
  padding-left: 0px;
  margin: 0 0 0 0;
  height: 100%;
  background-color: #fff;
}
#catalan_parliament_div svg {
  width: 100% !important;
  height: 100%;
  /* Shadow effects */
  -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) );
  filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}

#catalan_parliament_div .slice {
  stroke: white;
  stroke-width: 0px;
}

#catalan_parliament_div .slice:hover {
  opacity: .7;
}

#catalan_parliament_div .labels text {
  font-style: normal;
  font-size: 1.5vw;
  background-color: #333;
  width: 200px;
/*  font-weight: 700;*/
  font-style: italic;

}

#catalan_parliament_div
.hidden {
  display: none;
}

/*Styling for the lines connecting the labels to the slices*/
#catalan_parliament_div polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 1px;
  fill: none;
}
