<!DOCTYPE html>
<html >


<head>
  <meta charset="UTF-8">
  <title>D3 Parliament Power Measures</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/parliament_style.css">

<!--
    <link rel="stylesheet" type="text/css" href="/static/commons/css/bootstrap.min.css">
    <script src="/static/commons/js/jquery.min.js"></script>
-->
<!--    <script src="/static/commons/js/bootstrap.min.js"></script>--> 
    <!-- load the d3.js library --> 
    <script src="http://d3js.org/d3.v3.min.js"></script>
  
</head>

<body>
  <meta charset="utf-8">

<script src="https://d3js.org/d3.v3.min.js"></script>

<body>

<!--
  <div id="adjust">
    Duration  <input type="textbox" id="duration"  value="500"> in milliseconds
    <br>
    <button class="randomize">New Data</button> 
    
  </div>
-->
</body>
<!--
    <div id="tooltip" class="hidden">
        <p><strong>Important Label Heading</strong>
        </p>
        <p><span id="value">100</span>%</p>
    </div>
-->
<!--    <script  src="/static/js/parliament.js"></script> -->
  {% include catalan_2015_parliament_script.html %}

</body>
</html>
